* {


}

body {
  height: auto;
  background-color: #2a129f;
  margin: 50px;
}


ul{
  padding: 0;
}
nav {
  position: fixed;
}
.active {
  background: #ff0000;
}


.dropdown-toggle::after {
    display: none;
}


  /* SMARTPHONES PORTRAIT */
  @media only screen and (min-width: 100px) {
    body {
      margin: 0;
    }
    nav.affix {
      background: #ff0000;
      transition: .8s;
      padding: 10px;

    }
    h1 {
      font-family: "open sans", serif;
      font-style: Thin;
      font-size: 40px;
      line-height: 49px;
      color: rgba(255, 255, 255, 0.79);
    }
    nav {
    width: 100%;
    transition: .8s;

  }
  .dropdown-menu {
    background-color: unset;
    box-shadow: unset;
    border: unset;
    margin-top: 60px;
    transform: unset!important;
    top: unset!important;
    width: 100%;
    transition: .8s;

}
nav.mobile-only {
  display: block;
}
nav.desktop-only {
  display: none;
}
#mobile-menu {
  background-color: #ff0000;
}
#mobile-menu.affix {
  background: #ff0000;
  transition: .8s;
}
  .navi {
    display: block;
    transition: .5s;
    right: 0;
    width: 100%;
    position: absolute;
  }

  li {
    text-align: right;
    padding: 0 20px;
    margin: 20px 0;
    font-size: 2rem;
    color: #fbfbfb;
}
#me li {
  list-style: none;
  text-align: left;
  float: none;
  border: none;
  font-family: "Open Sans", serif;
  font-weight: 800;
  font-size: 1.5rem;
  margin: 50px 0;
  color: #ded8e9d9;
}
#me img {
  padding-right: 50px;
}
.burg {
  display: block;
  float: right;
  width: 60px;
margin: 0;
float: right;
cursor: pointer;
}
    #freeman {
      margin: 20px 0 0 0;
line-height: 20px;
font-size: 24px;
float: left;
    }
    #dd {
      margin: 460px 50px 50px 0;
      position: absolute;
      z-index: -2;

  }
  .contact #dd {
    margin: 200px 50px 50px 0;

  }

    #wowlg {
      width: 95%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -99
    }
    #fd {
      width: 230px;
        position: absolute;
        left: 0;
        top: 300px;
        z-index: -999
    }
    #fdb {
      position: absolute;
      right: 0;
      top: 0;
      width: 10%;
      z-index: -999
    }
    #profile {
      width: 70%;
      margin-left: -20px;
      opacity: .7;
      transition: 3s;
      z-index: -999;
          float: left;
    }
    #hi {
      font-size: 1.5rem;
      width: 100%;
      padding: 15px;    float: right;
    color: white;
    font-family: "open sans", serif;
    }
    #present {
      font-size: 1.5rem;
      width: 100%;
      float: right;
    color: white;
    font-family: "open sans", serif;
    margin-top: 100px;
    }
    #header {
          height: 600px;
    }
.footer {
  float: right;

}
.contact-link {
  margin-top: 500px;

}
body.contact{
  background-image: url("wowm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#hear {
  margin:130px 100px 50px 0;
  font-size: 3rem;
  position: absolute;
z-index: -1
}
#header-hire {
  height: 200px;

}
.footer-links img {
  width: 40px;
  padding-right: 10px!important;
}
.footer-links li {
float: right;
 display: block;
 margin: 20px 0 0 0!important;
}
.footer-links {
  width: 100px;
float: right;
}
.footer-links {
  width: 100px;
float: right;
}
}


  /* SMARTPHONES LANDSCAPE */
  @media only screen and (min-width: 480px) {
    #hear {
      margin:130px 100px 50px 0;
      font-size: 4rem;
      position: absolute;

    }
    #header-hire {
      height: 200px;

    }

#hi {
font-size: 2rem;
margin-top: 100px;
}
    .dropdown-menu {
        margin-top: 84px;
    }
    #header {
          height: 900px;
    }
    .footer-links img {
      width: 40px;
      padding-right: 10px!important;
    }
    .footer-links li {
    float: right;
     display: block;
     margin: 20px 0 0 0!important;
    }

  }

  /* TABLETS PORTRAIT */
  @media only screen and (min-width: 768px) {
    li {
      list-style: none;
      text-align: left;
      float: none;
      border: none;
      font-family: "Open Sans", serif;
      font-weight: 800;
      font-size: 1.5rem;
      margin: 50px 0;
      color: #ded8e9d9;
    }
    nav.mobile-only {
      display: none;
    }
    nav.desktop-only {
      display: block;
    }
    .desktop-only li {
      display: inline;
      border: unset;
      float: right;
      margin: 40px 0 0 0;
    }
    body.contact{
      background-image: url("wowc.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
    .contact-link {
      margin-top: 400px;
    }
    #profile {
        margin-top: -300px;
        position: relative;
        z-index: -999;
          margin-left: -200px;
      }
    #header {
          height: 1200px;
    }
        h1 {
          font-family: "open sans", serif;
          font-size: 80px;
          line-height: 83px;
        }
        #freeman {
        line-height: 55px;
        font-size: 40px;
    }

#hear {
  margin:130px 100px 50px 0;
  font-size: 4rem;
  position: absolute;

}
        #fd {
          width: 430px;
            position: absolute;
            left: 0;
            margin: 500px 0;

            z-index: -999
        }
        #fdb {
          position: absolute;
          right: 0;
          top: 0;
          z-index: -999
        }
        #hi {
          width: 70%;
          font-size: 2rem;
        font-family: "open sans", serif;
        }
        #present {
          font-size: 2rem;
        font-family: "open sans", serif;
        }
        #me img {
          padding-right: 50px;
        }
        .footer-links {
          width: 300px;
        }
        .footer-links img{
          width: 80px;
        }
  }


  /* TABLET LANDSCAPE / DESKTOP */
  @media only screen and (min-width: 1024px) {
    #wowlg {
      width: 1060px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -99
    }
    #dd {
      margin: 350px 100px 50px 0;
font-size: 8rem;
position: absolute;
}
#profile {
    margin-top: -400px;
    position: relative;
    z-index: -999;

  }

}
